@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');

/* Base Styling */
:root {
  --links: #a5e5f1;
  --maxwidth: 1200px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  max-width: 100%;
  overflow-x: hidden;
}
body {
  position: relative;
}
a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

/* ======================================================
====================================================== */
/* <!-- ============== nav bar =============== --> */

#home {
  max-width: var(--maxwidth);
  margin: 0 auto;
  padding-top: 20px;
  justify-content: center;
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 10px;
  position: relative;
  align-self: center;
}
#menu {
  position: absolute;
  top: 20px;
  left: 20px;
  display: none;
  z-index: 10;
  color: var(--textGrey);
}
.showmenu #men {
  left: 10%;
}
#men {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#men li {
  display: inline-block;
  margin-right: 10px;
  color: var(--textGrey);
}
.link {
  color: var(--textGrey);
  font-size: 15px;
  transition: all 0.5s;
  position: relative;
  transition: all 0.5s;
}
.link:hover {
  border-bottom: 4px solid var(--mainBlue);
  border-radius: 0;
}

/* ======================================================
====================================================== */
/* <!-- ============== followers section =============== --> */

/* ======================================================
====================================================== */
/* <!-- ============== mani section =============== --> */

/* ======================================================
====================================================== */
/* Media Queries */

@media only screen and (max-width: 768px) {
  /* ======================================================
    ====================== navbar ======================== */

  #menu {
    display: block;
  }

  #home {
    width: 100%;
    padding-top: 10px;
  }

  nav {
    flex-direction: column;
  }
  #men {
    background-color: white;
    color: var(--textGrey);
    width: 80%;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    align-items: center;
    position: absolute;
    border-radius: 10px;
    top: -70px;
    left: -100%;
    transition: all 0.5s;
    padding-bottom: 20px;
  }
  #men li {
    display: inline-block;
    margin-top: 10px;
  }
  #men li a {
    font-weight: 400;
  }
}
